@media (min-width:768px) and (max-width:1024px) {
    *{
    box-sizing: border-box;
    }
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .header{
        width: 100%;
        height: 60px;
        background-color: rgb(54, 52, 52);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 20px;
        
    }
    .logo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
    }
    .navbar{
        display: flex;
        gap: 50px;
        position: relative;
        top: 15px;
    }
    .search-container{
        cursor: pointer;
    }
    .tooltip{
        visibility: hidden;
        width: 60px;
        height: 20px;
        border: 1px solid white;
        border-radius: 2px;
        background-color:  rgb(54, 52, 52);
        position: relative;
        top: 10px;
        transform: translateX(-20px);
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .search-container:hover .tooltip{
        visibility: visible;
        opacity: 1;
    }
    .cart-container{
        cursor: pointer;
    }
    .cart-container:hover .tooltip{
        visibility: visible;
        opacity: 1;
    }
    .n{
        display:inline-flex;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        position: relative;
        bottom: 10px;
        background-color:red;
    }
    .profile-tooltip{
        visibility: hidden;
        width: 300px;
        height: 220px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 30px; /* Adjust this so it appears below the icon */
        left: 40%;
        transform: translateX(-50%);
    }
    .profile-container{
        cursor: pointer;
    }
    .profile-container:hover .profile-tooltip{
        visibility: visible;
        opacity: 1;
    }
    .profile-tooltip h5{
        width: 100px;
        height: 30px;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h5 + p{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-top: 1px solid white;
        position: relative;
        bottom: 10px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .Banner{
        width: 100%;
        height: 500px;
        background-color:rgb(54, 52, 52);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .banner-content{
        width: 70%;
        height: 400px;
        padding: 10px;
        
    }
    .banner-image{
        width: 30%;
        height: 400px;
        
    }
    .banner-image img{
        width: 100%;
        height: 400px;
    }
    .banner-content h2{
        width: 100%;
        height: 50px;
        font-size: 10em;
        color: rgb(66, 65, 65);
        margin: 20px;
    }
    .banner-content p{
        font-size: 1.5em;
        transform:translate(70px,40px);
    }
    .banner-content div{
        width: 60%;
    }
    .banner-content h3{
        font-size: 2em;
        transform:translate(70px,40px);
    }
    strike{
        color: rgb(150, 148, 148);
    }
    .banner-content button{
        width: 30%;
        height: 40px;
        color: white;
        background-color: red;
        border-radius: 5px;
        font-size: 1.5em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transform:translate(70px,40px);
    }
    /*  Registration page Styling  */
    
    .container{
        width: 100%;
        height: 700px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
    }
    .registration-page{
        width: 35%;
        height: 600px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 30px;
    }
    .cross-box{
        display: none;
        width: 25px;
        height: 25px;
        background-color: red;
        position: relative;
        left: 100%;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .cross-icon{
        font-size: 20px;
        transform: rotate(45deg);
    }
    .form-group input{
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        background-color: black;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        color: white;
    }
    input[placeholder]{
        padding: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .registration-page button{
        width: 100%;
        height: 40px;
        background-color: red;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
    }
    .Sdata{
        display: flex;
        gap:10px;
        position: relative;
        bottom: 20px;
    }
    .Sdata p:first-of-type{
        color: gray;
    }
    .foot-container{
        place-items: center;
    }
    .foot-container p{
        width: 40%;
        height: 40px;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .login-bar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .face-book{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(73, 73, 224);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Google{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(250, 53, 53);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Twitter{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(4, 173, 188);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    }


/*------------------------------------------------  Small Screen  Mobile  ---------------------------------------------------------------------*/



@media (min-width:425px) and (max-width:768px) {
    

    *{
        box-sizing: border-box;
    }
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    }
    .header{
        width: 100%;
        height: 50px;
        background-color: rgb(54, 52, 52);
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 20px;
    }
    .logo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
    }
    .navbar{
        display: flex;
        gap: 20px;
        position: relative;
        top: 15px;
    }
    .search-container{
        cursor: pointer;
    }
    .tooltip{
        visibility: hidden;
        width: 60px;
        height: 20px;
        border: 1px solid white;
        border-radius: 2px;
        background-color:  rgb(54, 52, 52);
        position: relative;
        top: 10px;
        transform: translateX(-20px);
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .search-container:hover .tooltip{
        visibility: visible;
        opacity: 1;
    }
    .cart-container{
        cursor: pointer;
    }
    .cart-container:hover .tooltip{
        visibility: visible;
        opacity: 1;
    }
    .n{
        display:inline-flex;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        position: relative;
        bottom: 10px;
        background-color:red;
    }
    .profile-tooltip{
        visibility: hidden;
        width: 240px;
        height: 170px;
        border: 1px solid white;
        background-color:rgb(54, 52, 52) ;
        border-radius: 5px;
        padding: 20px;
        position: absolute;
        top: 30px; /* Adjust this so it appears below the icon */
        left: 40%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .profile-container{
        cursor: pointer;
    }
    .profile-container:hover .profile-tooltip{
        visibility: visible;
        opacity: 1;
    }
    .profile-tooltip h5{
        width: 100px;
        height: 25px;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        margin: 0px;
    }
    .profile-tooltip h3{
        font-size: 12px;
        margin: 0px;
    }
    h5 + p{
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        border-top: 1px solid white;
        position: relative;
        bottom: 10px;
        font-size: 12px;
        margin: 0px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .Banner{
        width: 100%;
        height: 500px;
        background-color:rgb(54, 52, 52)  ;
    }
    .Banner{
        width: 100%;
        height: 300px;
        background-color:rgb(54, 52, 52);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .banner-content{
        width: 65%;
        height: 250px;
        padding: 10px;
        
    }
    .banner-image{
        width: 35%;
        height: 250px;
        
    }
    .banner-image img{
        width: 100%;
        height: 250px;
    }
    .banner-content h2{
        width: 100%;
        height: 50px;
        font-size: 6em;
        color: rgb(66, 65, 65);
        margin: 20px;
    }
    .banner-content p{
        font-size: 1em;
        transform:translate(50px,-20px);
    }
    .banner-content div{
        width: 60%;
    }
    .banner-content h3{
        font-size: 1.2em;
        transform:translate(50px,-20px);
    }
    strike{
        color: rgb(150, 148, 148);
    }
    .banner-content button{
        width: 35%;
        height: 35px;
        color: white;
        background-color: red;
        border-radius: 5px;
        font-size: 1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transform:translate(50px,-20px);
    }
    /*  Registration page Styling  */
    
    .container{
        width: 100%;
        height: 700px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: gray;
    }
    .registration-page{
        width: 35%;
        height: 600px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: black;
        color: white;
        padding: 30px;
    }
    .cross-box{
        display: none;
        width: 25px;
        height: 25px;
        background-color: red;
        position: relative;
        left: 100%;
        bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .cross-icon{
        font-size: 20px;
        transform: rotate(45deg);
    }
    .form-group input{
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
        background-color: black;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        color: white;
    }
    input[placeholder]{
        padding: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .registration-page button{
        width: 100%;
        height: 40px;
        background-color: red;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        cursor: pointer;
    }
    .Sdata{
        display: flex;
        gap:10px;
        position: relative;
        bottom: 20px;
    }
    .Sdata p:first-of-type{
        color: gray;
    }
    .foot-container{
        place-items: center;
    }
    .foot-container p{
        width: 40%;
        height: 40px;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .login-bar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .face-book{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(73, 73, 224);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Google{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(250, 53, 53);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Twitter{
        width: 32%;
        height: 40px;
        border-radius: 5px;
        background-color: rgb(4, 173, 188);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*----------------------------------------------  Large Screen Laptops and Screens  -------------------------------------------------------------*/



    @media (min-width:1024px) and (max-width:2560px) {
    

        *{
            box-sizing: border-box;
        }
        html, body {
            overflow-x: hidden;
            margin: 0;
            padding: 0;
        }
        .header{
            width: 100%;
            height: 70px;
            background-color: rgb(54, 52, 52);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            padding: 20px;
        }
        .logo{
            font-size: 1.3em;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
        }
        .navbar{
            display: flex;
            gap: 50px;
            position: relative;
            top: 20px;
        }
        .search-container{
            cursor: pointer;
        }
        .search-container i{
            font-size: 20px;
        }
        .tooltip{
            visibility: hidden;
            width: 70px;
            height: 25px;
            border: 1px solid white;
            border-radius: 2px;
            background-color:  rgb(54, 52, 52);
            position: relative;
            top: 15px;
            transform: translateX(-20px);
            font-size: 1.2em;
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .search-container:hover .tooltip{
            visibility: visible;
            opacity: 1;
        }
        .cart-container{
            cursor: pointer;
        }
        .cart-container a i{
            font-size: 20px;
        }
        .cart-container:hover .tooltip{
            visibility: visible;
            opacity: 1;
        }
        .n{
            display:inline-flex;
            justify-content: center;
            width: 15px;
            height: 15px;
            border-radius: 5px;
            position: relative;
            bottom: 10px;
            background-color:red;
        }
        .profile-tooltip{
            visibility: hidden;
            width: 350px;
            height: 250px;
            border: 1px solid white;
            background-color:rgb(54, 52, 52) ;
            border-radius: 5px;
            padding: 15px;
            position: absolute;
            top: 40px; /* Adjust this so it appears below the icon */
            left: 40%;
            transform: translateX(-51%);
        }
        .profile-container{
            cursor: pointer;
        }
        .profile-container i{
            font-size: 20px;
        }
        .profile-container:hover .profile-tooltip{
            visibility: visible;
            opacity: 1;
        }
        .profile-tooltip h5{
            width: 150px;
            height: 40px;
            border: 3px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            margin: 5px;
        }
        .profile-tooltip h3{
            font-size: 1.5em;
        }
        .profile-tooltip p{
            font-size: 1em;
        }
        h5 + p{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            border-top: 1px solid white;
            position: relative;
            bottom: 10px;
        }
        a{
            color: white;
            text-decoration: none;
        }
        .Banner{
            width: 100%;
            height: 600px;
            background-color:rgb(54, 52, 52);
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .banner-content{
            width: 45%;
            height: 500px;
            padding: 10px;
        }
        .banner-image{
            width: 50%;
            height: 500px;
        }
        .banner-image img{
            width: 100%;
            height: 500px;
        }
        .banner-content h2{
            width: 100%;
            height: 50px;
            font-size: 10em;
            color: rgb(66, 65, 65);
            margin: 20px;
        }
        .banner-content p{
            font-size: 1.5em;
            transform:translate(70px,40px);
        }
        .banner-content div{
            width: 60%;
        }
        .banner-content h3{
            font-size: 2em;
            transform:translate(70px,40px);
        }
        strike{
            color: rgb(150, 148, 148);
        }
        .banner-content button{
            width: 35%;
            height: 50px;
            color: white;
            background-color: red;
            border-radius: 5px;
            font-size: 1.5em;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            transform:translate(70px,40px);
        }
        /*  Registration page Styling  */
        
        .container{
            width: 100%;
            height: 700px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: gray;
        }
        .registration-page{
            width: 35%;
            height: 600px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: black;
            color: white;
            padding: 30px;
        }
        .cross-box{
            display: none;
            width: 25px;
            height: 25px;
            background-color: red;
            position: relative;
            left: 100%;
            bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        .cross-icon{
            font-size: 20px;
            transform: rotate(45deg);
        }
        .form-group input{
            width: 100%;
            height: 40px;
            margin-bottom: 20px;
            background-color: black;
            border: 1px solid whitesmoke;
            border-radius: 5px;
            color: white;
        }
        input[placeholder]{
            padding: 10px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .registration-page button{
            width: 100%;
            height: 40px;
            background-color: red;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
        }
        .Sdata{
            display: flex;
            gap:10px;
            position: relative;
            bottom: 20px;
        }
        .Sdata p:first-of-type{
            color: gray;
        }
        .foot-container{
            place-items: center;
        }
        .foot-container p{
            width: 40%;
            height: 40px;
            color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .login-bar{
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .face-book{
            width: 32%;
            height: 40px;
            border-radius: 5px;
            background-color: rgb(73, 73, 224);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Google{
            width: 32%;
            height: 40px;
            border-radius: 5px;
            background-color: rgb(250, 53, 53);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Twitter{
            width: 32%;
            height: 40px;
            border-radius: 5px;
            background-color: rgb(4, 173, 188);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        }
        